__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.log
venv/
env/
.venv/
.env

__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.log
venv/
env/
.venv/
.env
.DS_Store
*.swp
.idea/
.vscode/
build/
dist/\
dist/
*.sqlite3
*.pot
*.pyc
db.sqlite3
/staticfiles/
/media/
*.h5
*.pt
*.ckpt
*.onnx
*.mp4
*.avi
*.mov
*.mkv
*.gif
*.pid
*.seed
docker-compose.override.yml
